<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>도서관 책 리스트 페이지</title>
</head>

<body>
    <h1>보유 책 리스트</h1>
    <form action="" method="GET">
        <table border="2">
            <tr>
                <td>책 ID</td>
                <td>책 이름</td>
                <td>저자</td>
                <td>출판사</td>
                <td>대여 여부</td>
                <td>대여 일자</td>
                <td>대여한 사람</td>
            </tr>
            <tr>
                <td>{{ id }}</td>
                <td>{{ id }}</td>
                <td>{{ id }}</td>
                <td>{{ id }}</td>
                <td>{{ id }}</td>
                <td>{{ id }}</td>
            </tr>
            <tr>
                <td colspan="7" onclick><button>수정하기</button></td>
            </tr>
        </table>
    </form>
</body>

</html>