<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>도서관 책 리스트 페이지</title>
    <style>
        td {
            padding: 5px;
        }
    </style>
</head>

<body>
    <h1>보유 책 리스트</h1>
    <div>
        <button onclick="location.href='/manage/create'">생성</button>
    </div>
    <form action="manage/update" methods="GET">
        <table border="2">
            <tr align="center">
                <td></td>
                <td>책 ID</td>
                <td>책 이름</td>
                <td>저자</td>
                <td>출판사</td>
                <td>대여 여부</td>
                <td>대여 일자</td>
                <td>대여한 사람</td>
            </tr>
            {% for c in object %}
            <tr align="center">
                <td><input type="checkbox" name="c_id" value="{{ c.id }}"></td>
                <td>{{ c.id }}</td>
                <td>{{ c.title }}</td>
                <td>{{ c.author }}</td>
                <td>{{ c.publish }}</td>
                <td>{{ c.rental }}</td>
                <td>{{ c.ren_date }}</td>
                <td>{{ c.ren_name }}</td>
                <td><button>수정</button></td>
                <td><button onclick="location.href='/manage/delete?'">삭제</button></td>
            </tr>
            {% endfor %}
        </table>
    </form>
    <button onclick="location.href='/'">돌아가기</button>
</body>

</html>