<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>책 정보 수정 페이지</title>
    </head>
    <body>
        <table>
            <tr>
                <td>책 이름</td>
                <td>책 저자</td>
                <td>출판사</td>
                <td>대여가능여부</td>
                <td>대여날짜</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </body>
</html>