<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>책 수정 페이지</title>
</head>

<body>
    <h1>수정할 정보를 입력하세요</h1>
    <form action="/update_db" method="post">
        책 ID : <input type="text" name="id" placeholder="{{ object.id }}">
        <br>
        책 이름 : <input type="text" name="title" placeholder="{{ object.title }}">
        <br>
        책 저자 : <input type="text" name="author" placeholder="{{ object.author }}">
        <br>
        출판사 : <input type=" text" name="publish" placeholder="{{ object.publish }}">
        <br>
        대여 여부 : <input type="radio" value="True" name="rental" checked>가능
                    <input type="radio" value="False" name="rental">불가능
        <br>
        대여 날짜 : <input type="date" name="ren_date" placeholder="{{ object.ren_date }}">
        <br>
        대여자 이름 : <input type="text" name="ren_name" placeholder="{{ object.ren_name }}">
        <input type="submit" value="수정">
        <input type="button" value="목록" onclick="location.href='manage'">
    </form>
</body>

</html>